@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding-inline: 1rem;
  margin-inline: auto;
}

.is-size-6-5 {
  font-size: 0.875rem; /* 14px */
}

.is-size-7-5 {
  font-size: 0.6875rem; /* 11px */
}

.is-linethrough {
  text-decoration: 2px line-through rgba(0, 209, 178, 0.25);
}

html {
  background-color: #efefef;
}

body {
  padding-bottom: 6rem;
}

label {
  white-space: nowrap;
}

select,
.select {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
